.clearfix
  .container
    %p
    %span.h4.alert-danger><= comment.name
    %p
    %strong.text-center.text-muted><= comment.body
    %p
    %span.alert-info><= time_ago_in_words(comment.created_at).concat(' ago')
    - if user_signed_in?
      = button_to( 'Delete_comments', [comment.post, comment],method: :delete,
      data: { confirm: 'Are you sure?', verify: 'Foo', verify_text: 'Type "Foo" to confirm' }, class: 'btn btn-lg btn-danger')