.container
  .row.center-block
    .col-md-4.img-thumbnail.col-md-offset-4
      = image_tag 'profile.jpeg', class: 'img img-responsive'


    .row.pull-right
      .text-justify.label-primary.text-uppercase= h(                  |
           "Lorem ipsum dolor sit amet, consectetur adipiscing elit."  + |
           "Aliquam lacinia nunc et tristique ultrices. Morbi aliquet arcu et lorem mattis," + |
           "fringilla gravida erat porttitor. Sed nulla velit, suscipit in finibus eget, ultricies at augue."  + |
           "Donec cursus pretium feugiat. Proin nec tristique massa. Nam sodales nisl dui,"  |
           "vitae ultricies neque aliquet in. Suspendisse ac velit dolor.") |