= simple_form_for @post do |f|
  - if @post.errors.any?
    .alert.alert-danger
      %h2= pluralize(@post.errors.count, "error").concat(" stopped this pos from saving")
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg


  %p
    = f.input :title
  %p
    = f.input :body
  %hr

  %p.col-md-4.center-block
    = f.submit class: 'btn btn-info  bnt-md'