- @posts.each do |post|
  #post_warpper
    %h2.title= link_to post.title, post
    %p.date= time_ago_in_words(post.created_at).concat(' ').concat('ago')
    %p.text-left= truncate(post.body, length: 80)
    