#container
  %h1.title= @post.title

  %p.date= time_ago_in_words(@post.created_at).concat(' ').concat('ago')

  %p.body= @post.body

  %hr

  .btn-group-lg
    - if user_signed_in?
      = button_to( 'Edit post', edit_post_path(@post), method: :get, class: 'btn btn-lg btn-info')
      = button_to( 'Delete it', post_path, method: :delete, data: { confirm: 'Are you sure?'} ,class: 'btn btn-lg btn-danger' )
  .container
    %h2= @post.comments.count.to_s << ' Comments'
    = render @post.comments
    %h3 Join Discussion
    = render 'comments/form'