!!!
%html
  %head
    %title TumblrApp
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag 'favicon.ico'


%body
  #sidebar
    %ul
      %li.category= link_to "Tumblr", root_path
      .btn-group-vertical.btn-group-justified
        = button_to 'Posts', root_path, method: :get, class: 'btn btn-success btn-sm btn-block'
        = button_to 'About', about_path, method:  :get, class: 'btn btn-warning btn-sm btn-block'
        - unless current_user
          = button_to  'User Login', new_user_session_path,method: :get, class: 'btn btn-primary btn-sm btn-block'

  #main_content
    #header
      - if current_page?(root_path)
        %p.h2 Post Feed
      - elsif current_page?(about_path)
        %p.h2 My site
      - else
        = link_to "Back to Post Feed", root_path, class: 'btn btn-sm btn-success'
      .btn-group.btn-group-sm.block-center.btn-group-vertical
        - if user_signed_in?
          = button_to('Make Post', new_post_url, method: :get, class: 'btn btn-lg bnt-default')
          = button_to(  'Log Out', destroy_user_session_path ,method: :delete, class: 'btn btn-lg btn-default')

    = bootstrap_flash

  .container
    = yield


